[Unit]
Description=Pi Zero Robot Motor Server
After=network-online.target pigpiod.service
Wants=network-online.target
Requires=pigpiod.service

[Service]
Type=simple
User=rp0w
WorkingDirectory=/home/rp0w/microros_ws
ExecStart=/usr/bin/python3 /home/rp0w/microros_ws/motor_server.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
